[submodule "Assets/Packages/ResourceManager"]
	path = Assets/Packages/ResourceManager
	url = https://github.com/Unity-Technologies/ResourceManager.git
[submodule "Assets/Packages/AssetBundles-BuildPipeline"]
	path = Assets/Packages/AssetBundles-BuildPipeline
	url = https://github.com/Unity-Technologies/AssetBundles-BuildPipeline.git
